<div class="modal fade" id="editDeviceModal" tabindex="-1" role="dialog" aria-labelledby="editDeviceModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDeviceModalLabel">{{okButtonText}}</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="deviceForm">
          <div class="form-group">
            <input type="hidden" formControlName="id" id="id">
          </div>
          <div class="form-group">
            <label for="name">{{ 'devices.modal.labelName' | translate }}</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
          <div class="form-group"></div>
          <label for="nodeId">{{ 'devices.modal.labelAssociatedDevice' | translate }}</label>
          <select id="nodeId" class="form-control" formControlName="nodeId">
            <option *ngFor="let networkElement of allNetworkElements" [value]="networkElement.id">
              {{ networkElement.id }} - {{ networkElement.type }}
            </option>
          </select>
          <div class="form-group">
            <label for="deviceType">{{ 'devices.modal.labelDeviceClass' | translate }}</label>
            <select id="deviceType" class="form-control" formControlName="deviceType">
              <option *ngFor="let deviceType of allDeviceTypes" [value]="deviceType.enumKey">
                {{ deviceType.enumValue }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="roomId">{{ 'devices.modal.labelAssignedRoom' | translate }}</label>
            <select id="roomId" class="form-control" formControlName="roomId">
              <option *ngFor="let room of allRooms" [value]="room.id">
                {{ room.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" id="isReadonly" class="form-check-input" formControlName="isReadonly">
              <label class="form-check-label" for="isReadonly">{{ 'devices.modal.labelReadonly' | translate }}</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelButton" class="btn btn-secondary" (click)="onCancel()"
          data-dismiss="modal">{{ 'common.cancel' | translate }}</button>
        <button type="button" id="okButton" class="btn btn-primary" (click)="onOk()"
          [disabled]="deviceForm.invalid">{{okButtonText}}</button>
      </div>
    </div>
  </div>
</div>