<div class="modal fade" id="editRoomModal" tabindex="-1" role="dialog" aria-labelledby="editRoomModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editRoomModalLabel">{{okButtonText}}</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="roomForm">
          <div class="form-group">
            <input type="hidden" formControlName="id" id="id">
          </div>
          <div class="form-group">
            <label for="name">{{ 'rooms.modal.labelName' | translate }}</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelButton" class="btn btn-secondary" (click)="onCancel()"
          data-dismiss="modal">{{ 'common.cancel' | translate }}</button>
        <button type="button" id="okButton" class="btn btn-primary" (click)="onOk()"
          [disabled]="roomForm.invalid">{{okButtonText}}</button>
      </div>
    </div>
  </div>
</div>