<div class="root__container">
  <!-- Header and nav Menü -->
  <header class="main__header">
    <app-nav></app-nav>
  </header>
  
  <!-- Main Content -->
  <div class="content__container">
    <main class="main__container">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Footer -->
  <!-- <footer class="main__footer">
    <small class="copyright__text">Copyright © {{ currentYear }} CF</small>
  </footer> -->
</div>

<!-- Toast notifications -->
<app-toast-container></app-toast-container>
