<div class="container-fluid">
  <div class="row overflow-auto" [@popIn]>
    <div class="col-md-4 m-3 p-2">
      <div class="card shadow-lg h-100 ">
        <div class="card-body">
          <ng-container *ngIf="isLoggedIn() else loginTemplate">
            <h5 class="card-title">Welcome, {{ currentUserDisplayName }}</h5>
            <p class="card-text">You are logged in.</p>
            <button class="btn btn-primary mt-4" (click)="logout()">Logout</button>
          </ng-container>
          <ng-template #loginTemplate>
            <h5 class="card-title">Authentication needed</h5>
            <p class="card-text">Please log in.</p>
            <button class="btn btn-primary mt-4" (click)="login()">User Login</button>
          </ng-template>
        </div>
      </div>
    </div>

    <ng-container *ngIf="isLoggedIn()">
      <div class="col-md-4 m-3 p-2">
        <div class="card shadow-lg  h-100">
          <div class="card-body">
            <h5 class="card-title">System Status</h5>
            <p class="card-text">
              {{ statusMessage }}<br />
              Hostname: {{ statusDto?.hostname }}:{{ statusDto?.port }}<br />
              Authenticated: {{ statusDto?.isAuthenticated ? statusDto?.username : "not authenticated"}}<br />
              Controller: {{ statusDto?.controllerStatus }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<!-- New Row with all dynamic dashboard items -->
<ng-container *ngIf="isLoggedIn()">
  <div class="container-fluid">
    <div class="row overflow-auto" >
      <div class="col-md-4 m-3 p-2" *ngFor="let item of dashboardItems" [@popIn]="animateItems ? 'in' : 'out'">

        <ng-container [ngSwitch]="item.itemType">
          <ng-container *ngSwitchCase="ITEM_TYPE_DEVICE">
            <div class="card shadow-lg h-100 card-device" >
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <h5 class="card-title">
                        <a [routerLink]="['/home/details']" [queryParams]="{ type: 'device', id: item.itemId }" class="text-decoration-none">{{ item.title }}</a>
                    </h5>
                    <div class="card-text" [innerHTML]="item.description"></div>
                    <ng-container [ngSwitch]="item.subType">
                      <ng-container *ngSwitchCase="'Lampe'">
                        <!-- <button class="btn btn-primary" style="margin-right:2px; margin-bottom: 2px; width:85px" *ngIf="item.itemId !== undefined" (click)="switchLampOn(item.itemId)">turn on</button>
                        <button class="btn btn-secondary"  style="margin-right:2px; margin-bottom: 2px; width:85px" *ngIf="item.itemId !== undefined" (click)="switchLampOff(item.itemId)">turn off</button> -->
                        
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" 
                            [checked]="item.isOn"
                            (change)="toggleLamp(item.itemId, $event.target)">
                          <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">{{ item.isOn === true ? "On" : "Off" }}</label>
                        </div>

                        <button class="btn btn-secondary"  style="margin-right:2px; margin-bottom: 2px; width:85px; padding-top: 3px; padding-bottom: 0px;" *ngIf="item.itemId !== undefined">
                            <input type="color" style="width: 65px; height: 30px;"
                              [value]="item.lampColor"
                              (change)="setLampColor(item.itemId, $event.target)" />
                        </button>
                      </ng-container>
                      <ng-container *ngSwitchCase="'Steckdose'">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" 
                            [checked]="item.isOn"
                            (change)="toggleWallplug(item.itemId, $event.target)">
                          <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">{{ item.isOn === true ? "On" : "Off" }}</label>
                        </div>
                        <span>Leistung: {{item.powerConsumption}}</span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'LoraWanGpsTracker'">
                        
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <div class="row">
                          &nbsp;
                        </div>
                      </ng-container>
                    </ng-container> 
                  </div>
                  <div class="col-3 d-flex align-items-center justify-content-center">
                    <ng-container [ngSwitch]="item.subType">
                      <ng-container *ngSwitchCase="'Lampe'">
                        <!-- Fluent lightbulb icon -->
                        <svg class="big-icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="{{ item.subType }}">
                          <path d="M12 2C9.24 2 7 4.24 7 7c0 2.05 1.23 3.81 3 4.58V15c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-3.42c1.77-.77 3-2.53 3-4.58 0-2.76-2.24-5-5-5zm1 13h-2v-1h2v1zm0-3h-2c0-1.66 3-1.66 3-3.5 0-1.1-.9-2-2-2s-2 .9-2 2h-1.5c0-1.93 1.57-3.5 3.5-3.5s3.5 1.57 3.5 3.5c0 2.34-3 2.34-3 3.5v1z" opacity="0.3"/>
                          <path d="M12 2C9.24 2 7 4.24 7 7c0 2.05 1.23 3.81 3 4.58V15c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-3.42c1.77-.77 3-2.53 3-4.58 0-2.76-2.24-5-5-5zm1 13h-2v-1h2v1zm1.5-5.66c-.17.31-.42.61-.75.87V13h-3v-2.79c-.33-.26-.58-.56-.75-.87C9.2 8.43 9 7.74 9 7c0-1.66 1.34-3 3-3s3 1.34 3 3c0 .74-.2 1.43-.5 2.34z"/>
                        </svg>
                      </ng-container>
                      <ng-container *ngSwitchCase="'Steckdose'">
                        <!-- Fluent plug icon -->
                        <svg class="big-icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="{{ item.subType }}">
                          <path d="M15 7V4h-2v3h-2V4H9v3H7v4.5c0 2.21 1.79 4 4 4v6h2v-6c2.21 0 4-1.79 4-4V7h-2zm0 4.5c0 1.38-1.12 2.5-2.5 2.5h-1c-1.38 0-2.5-1.12-2.5-2.5V9h6v2.5z"/>
                        </svg>
                      </ng-container>
                      <ng-container *ngSwitchCase="'LoraWanGpsTracker'">
                        <!-- Fluent location icon -->
                        <svg class="big-icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="{{ item.subType }}">
                          <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                        </svg>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <div class="row">
                          <!-- Fluent settings icon -->
                          <svg class="big-icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" title="{{ item.subType }}">
                            <path d="M19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61l-2.01-1.58zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"/>
                          </svg>
                          <small>{{ item.subType }}</small>
                        </div>
                      </ng-container>
                    </ng-container> 
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="ITEM_TYPE_SCENE">
            <div class="card shadow-lg h-100 card-scene">
              <div class="card-body">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">
                      <a [routerLink]="['/home/details']" [queryParams]="{ type: 'scene', id: item.itemId }" class="text-decoration-none">{{ item.title }}</a>
                    </h5>
                    <div class="card-text" [innerHTML]="item.description"></div>
                  </div>
                  <div class="col-2 d-flex align-items-center justify-content-center">
                    <!-- Fluent play icon -->
                    <svg class="big-icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 5v14l11-7z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="ITEM_TYPE_ROOM">
            <div class="card shadow-lg h-100 card-room">
              <div class="card-body">
                <div class="row">
                  <div class="col-10">
                    <h5 class="card-title">
                      <a [routerLink]="['/home/details']" [queryParams]="{ type: 'room', id: item.itemId }" class="text-decoration-none">{{ item.title }}</a>
                    </h5>
                    <div class="card-text" [innerHTML]="item.description"></div>
                  </div>
                  <div class="col-2 d-flex align-items-center justify-content-center">
                    <!-- Fluent home/room icon -->
                    <svg class="big-icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="ITEM_TYPE_PERSON">
            <div class="card shadow-lg h-100 card-person">
              <div class="card-body">
                <div class="row">
                  <div class="col-10">
                    
                    <h5 class="card-title">
                      <a [routerLink]="['/home/details']" [queryParams]="{ type: 'person', id: item.itemId }" class="text-decoration-none">{{ item.title }}</a>
                    </h5>

                    <div class="card-text" [innerHTML]="item.description"></div>
                  </div>
                  <div class="col-2 d-flex align-items-center justify-content-center">
                    <!-- Fluent person icon -->
                    <svg class="big-icon" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <div class="card shadow-lg h-100">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <div class="card-text" [innerHTML]="item.description"></div>
                <!-- Add more content here as needed -->
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>