<div class="container mt-4">
    <h2 class="mb-4">Rooms List</h2>
    <button (click)="retrieveRooms()" class="btn btn-primary m-4">
        <img src="assets/icons/refresh.svg" alt="Refresh" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
        Refresh
    </button>
    <button (click)="addRoom()" class="btn btn-secondary m-4">
        <img src="assets/icons/add.svg" alt="Add" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
        Add
    </button>

    <!-- Busy Indicator -->
    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="spinner-border text-primary" role="status">
        </div>
        <span class="sr-only">Loading...</span>
    </div>

    <table *ngIf="!isLoading && rooms.length > 0; else noRooms" class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Room Id</th>
                <th>Room Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms">
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>
                    <button (click)="editRoom(room)" class="btn btn-secondary btn-sm">
                        <img src="assets/icons/edit.svg" alt="Edit" style="width: 16px; height: 16px;">
                    </button>
                    <button (click)="deleteRoom(room)" class="btn btn-danger btn-sm">
                        <img src="assets/icons/delete.svg" alt="Delete" style="width: 16px; height: 16px;">
                    </button>
                    <button *ngIf="room.isFavourite != true" (click)="setFavourite(room, true)"
                        class="btn btn-secondary  btn-sm">
                        <img src="assets/icons/star.svg" alt="Favorite" style="width: 16px; height: 16px;">
                    </button>
                    <button *ngIf="room.isFavourite === true" (click)="setFavourite(room, false)"
                        class="btn btn-secondary  btn-sm">
                        <img src="assets/icons/unfavorite.svg" alt="Unfavorite" style="width: 16px; height: 16px;">
                    </button>
                    <app-pin-to-dashboard-button
                        [isPinned]="pinnedRoomIds.has(room.id!)"
                        (pinClicked)="pinToDashboard(room)">
                    </app-pin-to-dashboard-button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #noRooms>
        <p class="text-muted">No rooms loaded.</p>
    </ng-template>
</div>

<!-- Add Room Modal Component (element id ist set inside component!) -->
<editRoomModal></editRoomModal>